<!--Sidenav-->
<div class="app-sidenav app-sidenav-1">
    <div class="sidenav-menu">
        <div class="sidenav-head">
            <img src="assets/images/sidenav.jpg" alt="sidenav banner">
            <button class="button button-close-sidenav"></button>
        </div>
        <div class="sidenav-body">
            <div class="sidenav-body-inner">
                <div class="sidenav-links">
                    <a href="page-login.html" class="button button-md button-block button-line-primary">
                        <span class="text">ورود به سایت</span>
                    </a>
                    <a href="page-register.html" class="button button-md button-block button-primary">
                        <span class="text">ثبت نام</span>
                    </a>
                </div>
                <ul>
                    <li class="has-menu">
                        <a href="#">
                            <span class="text">خدمات تیچستان</span>
                            <span class="icon fa fa-angle-left"></span>
                        </a>
                        <div class="mega-menu">
                            <ul class="sidenav-menu-ul">
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <b>عنوان مجموعه</b>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <span>لینک زیر مجموعه</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <span>لینک زیر مجموعه</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="sidenav-menu-ul">
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <b>عنوان مجموعه</b>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <span>لینک زیر مجموعه</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <span>لینک زیر مجموعه</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="sidenav-menu-ul">
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <b>عنوان مجموعه</b>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <span>لینک زیر مجموعه</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <span>لینک زیر مجموعه</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-menu">
                        <a href="#">
                            <span class="text">دپارتمان ها</span>
                            <span class="icon fa fa-angle-left"></span>
                        </a>
                        <div class="mega-menu">
                            <ul>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/uk.png" alt="alt" />
                                            <h3>زبان انگلیسی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/germany.png" alt="alt" />
                                            <h3>زبان آلمانی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/france.png" alt="alt" />
                                            <h3>زبان فرانسوی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/italy.png" alt="alt" />
                                            <h3>زبان ایتالیایی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/china.png" alt="alt" />
                                            <h3>زبان چینی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/japan.png" alt="alt" />
                                            <h3>زبان ژاپنی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/south-korea.png" alt="alt" />
                                            <h3>زبان کره ای</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/russia.png" alt="alt" />
                                            <h3>زبان روسی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/arabic.png" alt="alt" />
                                            <h3>زبان عربی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/turkey.png" alt="alt" />
                                            <h3>زبان ترکی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/iran.png" alt="alt" />
                                            <h3>زبان فارسی</h3>
                                        </a>
                                    </div>
                                </li>
                                <li class="el-flag">
                                    <div class="inner">
                                        <a href="page-departements.html">
                                            <img src="assets/images/flags/spain.png" alt="alt" />
                                            <h3>زبان اسپانیایی</h3>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="page-teachers.html">
                            <span class="text">مدرسان</span>
                            <span class="icon fa fa-angle-left"></span>
                        </a>
                    </li>
                    <li>
                        <a href="page-courses.html">
                            <span class="text">دوره ها</span>
                            <span class="icon fa fa-angle-left"></span>
                        </a>
                    </li>
                    <li>
                        <a href="page-cooperation.html">
                            <span class="text">مدرس شو!</span>
                            <span class="icon fa fa-angle-left"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span class="sidenav-close"></span>
</div>
<!--/-->