<div class="header-menu">
    <ul>
        <li class="has-menu" data-megamenu-link="mega-menu-1">
            <div class="mega-menu-link">
                <span class="title">Courses</span>
                <span class="icon fa fa-angle-left"></span>
            </div>
            <div data-megamenu-id="mega-menu-1" class="mega-menu mega-menu-1">
                <div class="mega-menu-inner">
                    <div>
                        <div class="espard-menu">
                            <div class="row row-xl-5">
                                <!--Col-->
                                <div class="col">
                                    <p class="title">مکالمه</p>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="text">لینک شماره ۱</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="text">لینک شماره ۲</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="text">لینک شماره ۳</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="text">لینک شماره ۴</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <p class="title">زبان تخصصی رشته ها</p>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="text">لینک شماره ۱</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="text">لینک شماره ۲</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="text">لینک شماره ۳</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="text">لینک شماره ۴</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--/-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="has-menu" data-megamenu-link="mega-menu-2">
            <div class="mega-menu-link">
                <span class="title">Courses</span>
                <span class="icon fa fa-angle-left"></span>
            </div>
            <div data-megamenu-id="mega-menu-2" class="mega-menu mega-menu-2">
                <div class="mega-menu-inner">
                    <div>
                        <div class="megamenu-info mb-15">
                            <p class="text-center mb-30">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="row row-lg-5 row-xl-5">
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/uk.png" alt="alt">
                                        <span class="title">English</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/germany.png" alt="alt">
                                        <span class="title">Germany</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/france.png" alt="alt">
                                        <span class="title">France</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/italy.png" alt="alt">
                                        <span class="title">Italy</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/uk.png" alt="alt">
                                        <span class="title">United Kingdom</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/germany.png" alt="alt">
                                        <span class="title">Germany</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/france.png" alt="alt">
                                        <span class="title">France</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/italy.png" alt="alt">
                                        <span class="title">Italy</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/uk.png" alt="alt">
                                        <span class="title">United Kingdom</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/germany.png" alt="alt">
                                        <span class="title">زبان آلمانی</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/france.png" alt="alt">
                                        <span class="title">زبان فرانسوی</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/italy.png" alt="alt">
                                        <span class="title">زبان ایتالیایی</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/china.png" alt="alt">
                                        <span class="title">China</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/japan.png" alt="alt">
                                        <span class="title">Japan</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/south-korea.png" alt="alt">
                                        <span class="title">South Korea</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/russia.png" alt="alt">
                                        <span class="title">Russia</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/arabic.png" alt="alt">
                                        <span class="title">Arabic</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/turkey.png" alt="alt">
                                        <span class="title">Turkish</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/iran.png" alt="alt">
                                        <span class="title">Persian</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col el-flag">
                                <div class="inner">
                                    <a href="page-departements.html">
                                        <img src="assets/images/flags/spain.png" alt="alt">
                                        <span class="title">Spainsh</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="page-cooperation.html">
                <span class="text">Join Now!</span>
                <span class="icon fa fa-angle-left"></span>
            </a>
        </li>
    </ul>
</div>