        <!--Footer-->
        <footer class="app-footer app-footer-1">
            <div class="footer-content">
                <div class="container">
                    <div class="el-cta el-cta-4">
                        <h3>برگزاری کلاس <span class="text-color">آنلاین</span> و<span class="text-color"> رایگان </span>ویژه اساتید و موسسات زبان!</h3>
                        <p>دیگر نگران تعطیلی کلاس ها نباشید.</p>
                        <button class="button button-md button-radius button-secondary">
                            <span class="text">+ اطلاعات بیشتر</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 col-xl-5">
                            <div class="widget widget-logo">
                                <div class="widget-body">
                                    <a href="#" class="footer-logo">
                                        <img src="assets/images/logo/logo-2.png" alt="Site Logo">
                                    </a>
                                    <p>پلتفرم آموزش زیان تیچستان به دنبال ایجاد بستری برای تدریس و یادگیری زبان‌های مختلف است. بستری که اساتید زبان بتوانند به طور مستقل و با علاقه زمان‌کاری و درآمد خود را مشخص کنند. و زبان‌آموزان بتوانند بر اساس نیازمندی‌ها و امکانات‌شان راهکارهای آموزش زبان را انتخاب کنند.</p>
                                    <ul class="el-social-links">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-google"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-linkedin"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-1 col-xl-1 d-none d-lg-block d-xl-block"></div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                            <div class="widget widget-links">
                                <div class="widget-title">
                                    <h4>راهنمای سایت</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">راهنمای استاد</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">راهنمای زبان آموز</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">قوانین سایت</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">سوالات متداول</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                            <div class="widget widget-links">
                                <div class="widget-title">
                                    <h4>دسترسی سریع</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">مدرس شو</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-teachers.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">جستجوی اساتید</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-courses.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">لیست دوره ها</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-departements.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">دپارتمان ها</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-2 d-none d-sm-block d-md-none d-lg-block d-xl-block">
                            <div class="widget widget-links">
                                <div class="widget-title">
                                    <h4>ارتباط با تیچستان</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li>
                                            <a href="page-about.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">درباره ما</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-contact.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">تماس با ما</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-faq.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">سوالات متداول</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-policy.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">قوانین سایت</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>تمامی حقوق مادی و معنوی برای تیچستان محفوظ میباشد.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-icon footer-icon-1">
                                <a href="#">
                                    <img src="assets/images/icons/footer-icon-1.png" alt="alt">
                                </a>
                            </div>
                            <div class="footer-icon footer-icon-2">
                                <a href="#">
                                    <img src="assets/images/icons/footer-icon-2.png" alt="alt">
                                </a>
                            </div>
                            <div class="footer-icon footer-icon-3">
                                <a href="#">
                                    <img src="assets/images/icons/footer-icon-3.png" alt="alt">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="section-shape shape-1">
                <img class="img-fluid" src="assets/images/shapes/1.svg" alt="Image Description">
            </figure>
            <figure class="section-shape shape-2">
                <img class="img-fluid" src="assets/images/shapes/2.svg" alt="Image Description">
            </figure>
        </footer>