/*------------------------------------
    Hero
------------------------------------*/

.section-hero {
    width: 100%;
    position: relative;
    &.section-hero-1 {
        height: 100vh;
        .hero-image {
            &.hero-image-1 {
                top: 27%;
                left: 11%;
                position: absolute;
                img {
                    width: 500px;
                }
            }
        }
        .hero-content {
            p {
                color: $text-color;
                font-size: 16px;
                margin-bottom: 30px;
            }
            h1 {
                font-size: 45px;
                font-weight: 700;
                line-height: 1.5;
                margin-bottom: 20px;
                span {
                    z-index: 1;
                    position: relative;
                }
                .text-border {
                    z-index: 1;
                    display: inline-block;
                    position: relative;
                    padding-left: 6px;
                    padding-right: 6px;
                    &:after {
                        left: 6px;
                        right: 6px;
                        bottom: 12px;
                        height: 12px;
                        content: "";
                        z-index: 0;
                        opacity: 0.3;
                        position: absolute;
                        background-color: orange;
                    }
                }
            }
        }
    }
    &.section-hero-2 {
        height: 100vh;
        min-height: 600px;
        .hero-image {
            width: 100%;
            height: 100%;
            z-index: 9;
            text-align: center;
            position: absolute;
            img {
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                max-height: 330px;
                position: absolute;
            }
        }
        .display-spacing {
            z-index: 12;
            position: relative;
            .hero-content {
                text-align: center;
                padding-top: 100px;
                h1 {
                    font-size: 33px;
                    font-weight: 700;
                    margin-bottom: 18px;
                    span {
                        z-index: 1;
                        position: relative;
                    }
                    .text-border {
                        z-index: 1;
                        display: inline-block;
                        position: relative;
                        padding-left: 6px;
                        padding-right: 6px;
                        &:after {
                            left: 6px;
                            right: 6px;
                            bottom: 12px;
                            height: 12px;
                            content: "";
                            z-index: 0;
                            opacity: 0.3;
                            position: absolute;
                            background-color: orange;
                        }
                    }
                }
                h2 {
                    color: #bbb;
                    font-size: 30px;
                    font-weight: 500;
                    text-align: center;
                    margin-bottom: 30px;
                    span {
                        color: $primary;
                    }
                }
            }
        }
    }
    &.section-hero-3 {
        .hero-content {
            padding-top: 80px;
        }
    }
    &.section-hero-4 {
        .hero-content {
            padding-top: 80px;
            p {
                color: $base-0;
                opacity: 0.81;
            }
        }
    }
    .section-shape {
        &.shape-1 {
            top: -21% !important;
            left: -1%;
            width: 400px;
            position: absolute;
        }
        &.shape-2 {
            top: -30%;
            right: 0;
            opacity: 0.3;
            width: 400px;
            position: absolute;
        }
    }
}

@media (max-width: 1300px) {
    .section-hero {
        &.section-hero-2 {
            .hero-image {
                img {
                    height: 270px;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .section-hero {
        &.section-hero-2 {
            .display-spacing {
                .hero-content {
                    padding-top: 100px;
                    h1 {
                        font-size: 20px;
                        margin-bottom: 15px;
                    }
                    h2 {
                        font-size: 18px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &.section-hero-4 {
            &.overlay-color {
                .bg-color {
                    opacity: 0.6 !important;
                    background-color: $base-1 !important;
                }
            }
            &.overlay-image {
                background-position: top center !important;
            }
            .hero-content {
                h1 {
                    font-size: 27px !important;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .section-hero {
        &.section-hero-2 {
            .hero-image {
                img {
                    bottom: 45px;
                    width: 90%;
                    height: auto;
                }
            }
            .display-spacing {
                .hero-content {
                    padding-top: 45px;
                    .button {
                        width: 48%;
                        margin-bottom: 7px;
                        &.button-primary {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
